app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

.badge {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 255, 0.80), rgba(0, 0, 255, 0.80));
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.badge.inView {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  background: linear-gradient(rgba(255, 0, 0, 0.30), rgba(255, 0, 0, 0.30)), url(./img/angular.png);
  background-size: contain;
}

.slds-card {
  position: fixed;
  padding: 2rem;
  z-index: 10000;
  border-radius: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
