body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

#footer {
  flex: none;
  background: #101f32;
  position: fixed;
  bottom: 0;
  opacity: 0.65;
  color: darkgrey;
  width: 100%;
}

.badge {
  opacity: 0.75;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 255, 0.50), rgba(0, 0, 255, 0.50));
}

.badge.inView {
  background: linear-gradient(rgba(255, 0, 0, 0.50), rgba(255, 0, 0, 0.50)), url(./img/angular.png);
  background-size: contain;
}

.slds-card {
  position: fixed;
  padding: 2rem;
  z-index: 10000;
  border-radius: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
